# kscope files
*.*~

# CMake temporary files
*.cmake
CMakeFiles
CMakeCache.txt
Makefile

# Binaries
source/virt-controller/virt-controller
source/virt-host/virt-host
source/core/libvdb_core.so

# deb building files
bin/deb/
debian/buildroot/
debian/*.debhelper.log
debian/*.substvars
debian/ecs/
build-stamp
configure-stamp
debian/files
install_manifest.txt
*.1

# logs
bin/*.txt
bin/*.log
