# kscope files
*.*~

# CMake temporary files
*.cmake
CMakeFiles
CMakeCache.txt
Makefile

# Binaries
source/virt-controller/virt-controller
source/virt-uso/virt-uso
source/core/libvdb_core.so

# deb building files
bin/deb/
build-stamp
configure-stamp
debian/files
debian/simscreen.debhelper.log
debian/simscreen.substvars
debian/simscreen/
install_manifest.txt
*.1

# logs
bin/*.txt
bin/*.log
