Source: ecs
Section: main
Priority: extra
Maintainer: Ilya Shpigor <petrsum@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: ecs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Environment for Controllers Simulation (ECS) is set of utilities to simulate data exchange with any devices through Serial Port and Ethernet connections
